.todo {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  
.header {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;   
    font-size: 2em; 
    font-family: "Roboto", "Arial", sans-serif;
  }

.buttons {
    display: flex;
    justify-content: space-around;
    min-width: 13em;
  }
  