.title {
    font-size: 1.2em;
    font-family: "Roboto", "Arial", sans-serif;
    background: #2f3437;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    margin-right: 1em;
  }

  .checkbox {
    margin: 0 0.5em;
    zoom: 1.3;
  }

  .checkbox:checked + .todo-text {
    text-decoration: line-through;
    color: rgba(202, 204, 206, 0.4);
  }
  